<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.servicewechat.mapper.NotesDetailMapper">
    <insert id="addNotes" parameterType="com.cloud.commonsmng.entity.appletEntity.NotesDetail">
        INSERT INTO notes_detail ( id, notesId, STATUS, userId, createTime )
        VALUES
            (#{notesDetail.id},#{notesDetail.notes.id},1,#{notesDetail.userId},NOW())
    </insert>
</mapper>